<<<<<<< HEAD
.js-date-picker * {
=======
.jsDatePicker * {
>>>>>>> 41d1270f32988f2fe55395fc313b8ccdcee5422c
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
				
	-webkit-box-sizing:padding-box;
	-moz-box-sizing: padding-box;
	-ms-box-sizing: padding-box;
	box-sizing: padding-box;
	
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

.js-date-picker {
    display: inline-block;
    border:1px #c2ebff solid;
    width:280px;
    padding:0.5em;
    border-radius: 3px;
}

.js-date-picker .header {
    width:100%;
    height:2em;
    display: table;
    text-align: center;
    line-height: 2em;
}

.js-date-picker .header-cell {
    display:table-cell;
    color:#FFFFFF;
}

.js-date-picker .header-cell.title-cell{
    width:50%;
}

.js-date-picker .header-cell.back-cell, .js-date-picker .header-cell.next-cell{
    /* just to note that they exist to ;-) */
}

/* e.g. April, 2015 */
.js-date-picker .title {
    background-color: #8cd5f7;
}

.js-date-picker .back, .js-date-picker  .next{
    width:100%;
    background-color: #29bbff;
}

.js-date-picker .back:hover, .js-date-picker  .next:hover{
    background-color: #12b3ff;
}

.js-date-picker .back {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.js-date-picker .next{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

<<<<<<< HEAD
.js-date-picker .back:after {
    content:'<';
}

.js-date-picker .next:after {
=======
.jsDatePicker .back:after {
    content:'<';
}

.jsDatePicker .next:after {
>>>>>>> 41d1270f32988f2fe55395fc313b8ccdcee5422c
    content:'>';
}

.js-date-picker .back:hover, .js-date-picker .next:hover {
    cursor: pointer;
}

.js-date-picker .week {
    
}

.js-date-picker .week-day {
    font-size: 0.8em;
    background-color: #f9f9f9;
    padding:5px;
    text-align: center;
}

.js-date-picker .week-day-wrapper {
    padding:3px 3px 0 0;
    display: inline-block;
    width:calc(100%/7);
}

.js-date-picker .week-day-wrapper:last-child {
    padding-right:0;
}

.js-date-picker .day-wrapper {
    padding:3px 3px 0 0;
    display: inline-block;
    width:calc(100%/7);
}

.js-date-picker .day-wrapper:nth-child(7n+2){
    padding-right:0;
}

.js-date-picker .day {
    display: inline-block;
    width:100%;
    height:2em;
    line-height: 2em;
    text-align: center;
    vertical-align: middle; 
    background-color: #d0f0ff;
    color:#404040;
	-webkit-transition:.1s ease-in-out;
	-moz-transition:.1s ease-in-out;
	transition:.1s ease-in-out;
}

.js-date-picker .day.previous-month, .js-date-picker .day.next-month  {
	background-color: #e1e1e1;
}

.js-date-picker .day.selected {
    background-color:#a1da1d;
}

.js-date-picker .day.currentDay {
	color:#ff8500;
}

.js-date-picker .day.previous-month.selected, .js-date-picker .day.next-month.selected  {
	background-color: #d2ed91;
}

.js-date-picker .day:hover {
    cursor: pointer;
    background-color:#b8d670;
}

.js-date-picker .day.selected:hover {
    background-color:#879b58;
}
